<!DOCTYPE html>
<html>
    <head>
        <title>Austin Police Department</title>
        
    </head>
    <body>
        <h1><center><u style = "color : green;"><span style = "color : red;">  Welcome to Austin Police Department</span></u></center></h1>
        
        <h3><b>Context</b></h3>
<p style="font-size: 15px;" class="justified-text">16 years of public crime reports from the Austin police department. This dataset contains a record of incidents that the Austin Police Department responded to and wrote a report.</p>

<h3><b>Content</b></h3>
<p style="font-size: 15px;" class="justified-text">This is a public data set from data.texas.gov and is updated on a weekly basis on the data.texas.gov website. I'll try to sync the kaggle data set on a regular basis.</p>
        
<p style="font-size: 15px;" class="justified-text">I've created a starter kernel with some visualizations to give you an idea what's in the dataset. Feel free to check it out.</p>

<h3><b>Acknowledgements</b></h3>
<h3><b>Banner image credit:</b></h3> 
        <p style="font-size: 15px;" class="justified-text"><b>*</b> LoneStarMike [CC BY 3.0 (https://creativecommons.org/licenses/by/3.0)]
        <ul>
            <p style="font-size: 20px;"><b>Links to Other Pages</b></p>
            <li><a href="{{ url_for('about')}}">About Austin Police Department</a> </li>
            
            <li><a href="{{ url_for('data')}}">APD_Crash_Data</a> </li>  
        </ul>
    </body>
</html>